.friendsWrapper {
  background-color: #efefef;
  width: 500px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  gap: 20px;
}

.friendItem {
  width: 300px;
  padding: 10px;
  display: flex;
  background: #fafafa;
  border-radius: 10px;
  align-items: center;
  gap: 20px;
}

.friendImg {
  width: 80px;
}

.status{
    height: 25px;
    width: 25px;
    
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.online{
    background-color: green;
}

.offline{
    background-color: red;
}